<%- partial('./partials/_head') %>
<link rel="stylesheet" href="./css/web.css">
<main>
  <div class="new project">
    <img src="./img/anarchy.png" alt="">
    <h3>ATX Anarchy</h3>
    <p>
      A social application and team organization tool for the Austin Men’s Roller Derby team.
    </p>
  </div>

  <div class="project">
    <img src="./img/mememoji.png" alt="">
    <h3>MemeMoji</h3>
    <p>Front end of an interactive facial recognition system that detects your inner emoji.</p>
  </div>

  <div class="project">
    <img src="./img/madlibio.png" alt="">
    <h3>Madlib.io</h3>
    <p>A single-page app for creating Madlibs.</p>
  </div>

  <div class="project">
    <img src="https://pbs.twimg.com/profile_images/691067815877484544/cjEAP66a.jpg" alt="">
    <h3>Quest Giver NPC</h3>
    <p>A twitter bot that generates random side quests.</p>
  </div>
</main>

<%- partial('./partials/_foot') %>
